
.foto{
    max-width: 100%;
    top: 0%;
}
h1{
    color: white;
    font-size: 52px;
    font-family: 'Secular One', sans-serif;   
    line-height: 8;
    position: absolute;
    left: 2.7%;
    top: 9%;
}
.text_1{
    font-size: 20px;
    line-height: 5;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    left:3%;
    text-decoration: none;
    transition: 1s ease;
    color: white;
    top: 0%;
}
.text_1:hover{
 transform: scale(1.2);
}
.text_2{
    font-size: 20px;
    line-height: 5;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    left:12%;
    text-decoration: none;
    transition: 1s ease;
    color: white;
    top: 0%;
}
.text_2:hover{
 transform: scale(1.2);
}
.text_3{
    font-size: 20px;
    line-height: 5;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    left:22%;
    text-decoration: none;
    transition: 1s ease;
    color: white;
    top: 0%;
}
.text_3:hover{
    transform: scale(1.2);
   }
























@media screen and (max-width:384px) {
    h1{
        color: white;
        font-size: 17px;
        font-family: 'Secular One', sans-serif;
        line-height: 9.8;
        position: absolute;
        left: 3%;
        top: 0%;
    }
}
*{
    margin: 0%;
    padding: 0%;
}